.container{
  @include container();
}
.container-sm{
    @extend .container;
    max-width: 1150px;
}
.fl-l{
    float: left;    
}
.fl-r{
    float: right;
}

.title{
    font-family: 'Noto Serif', serif;
    color: #2d2d2d;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}