/*
Hairline 100
Thin 200
Light 300
Regular 400
Medium 500
Semibold 600
Bold 700
Heavy 800
BLack 900
*/
// font-family: 'Noto Serif', serif;
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:700i');
// font-family: "Noto Sans", sans-serif;
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Pinyon+Script');
// font-family: "IM Fell Double Pica", serif;
@import url('https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica');
// font-family: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: 'dj';
    src: url('fonts/dearjoe_5_casual_1.0_0-webfont.eot');
    src: url('fonts/dearjoe_5_casual_1.0_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dearjoe_5_casual_1.0_0-webfont.woff') format('woff'),
         url('fonts/dearjoe_5_casual_1.0_0-webfont.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}