footer.footer
    .container
        .footer-wrapper
            h2.title.wow.zoomIn(data-wow-duration='1s')
                | Как нас найти?    
    .footer-container
        .f-left.wow.fadeInLeft(data-wow-duration='1s' data-wow-delay=".3s")
            .f-l-content
                .adress-wrap    
                    a(href="tel:+74955054869").tel
                        | +7 (495) 505 48 69
                    a(href="mailto:mail@banyaplus.ru").mail
                        | mail@banyaplus.ru
                    p.
                        MO, Красногорский р-н, Новорижское шоссе, <br>
                        9 км от МКАД, ТЦ Строительный двор <br>
                        «Петровский», пав В-43
                .form-wrap
                    p
                        span Остались вопросы? 
                        | Заполните форму <br>
                        | и получите ответ дизайнера-архитектора!
                    form(action="/").form
                        label(for="text")
                            input(type="text" placeholder="Вопрос")      
                        label(for="email")
                            input(type="email" placeholder="E-mail")     
                        button(type="submit").btn отправить
        .map-container.wow.fadeInRight(data-wow-duration='1s' data-wow-delay=".5s")
            #map_canvas
    .rights
        .container
            span © ArtSauna 2017



.popup-form-wrapper.popup-form-wrapper-1
    .popup-title
        h4
        span
        .popup-close
            img(src="img/close.png", alt="")
    .popup-form
        form(action="/")
            lable(for="name")
                input(type="text" placeholder="Введите Ваше имя")
            lable(for="tel")
                input.input-tel(type="text" placeholder="Введите Ваш номер телефона")
            .button-wrap
                button(type="submit").btn Отправить

.popup-form-wrapper.popup-form-wrapper-2
    .popup-title
        h4
        span
        .popup-close
            img(src="img/close.png", alt="")
    .popup-form
        form(action="/")
            lable(for="tel")
                input.input-tel(type="text" placeholder="Телефон")
            .button-wrap
                button(type="submit").btn Отправить
