.header__intro-slider.wow.fadeIn(data-wow-duration='1s' data-wow-delay=".5s")
    .header__slider
        .h-slide
            .h-slide-dscr
                .h-img
                    img(src="img/header/h1.jpg", alt="")
                .h-dscr
                    p.dscr
                        | Дизайнерская отделка русской бани 
                        | «под ключ» за 
                        span.num 7 
                        | дней
                    p.sub-dscr
                        | Бесплатный выезд и дизайн-проект, элитные экологичные материалы, финское оборудование
            .header-form
                .f-content
                    .f-center
                        .form-title
                            p
                                span Сделайте предзаказ <br>
                                | на зимний сезон <br>
                                | и получите
                                span.perc скидку 20% <br>
                                span на весь проект!
                        form(action="/").form
                            label(for="name")
                                input(type="text" placeholder="Имя")
                            label(for="name")
                                input.input-tel(type="text" placeholder="Телефон")
                            button(type="submit").btn.popup-2(data-h4='Оставьте контакты' data-span='и мы свяжемся с Вами для оформления заявки') Забронировать скидку
        .h-slide
            .h-slide-dscr
                .h-img
                    img(src="img/header/h2.jpg", alt="")
                .h-dscr
                    p.dscr
                        | Дизайнерская отделка финской сауны 
                        | «под ключ» за 
                        span.num 3 
                        | дня
                    p.sub-dscr
                        | Бесплатный выезд и дизайн-проект, элитные экологичные материалы, финское оборудование
            .header-form
                .f-content
                    .f-center
                        .form-title
                            p
                                span Сделайте предзаказ <br>
                                | на зимний сезон <br>
                                | и получите
                                span.perc скидку 20% <br>
                                span на весь проект!
                        form(action="/").form
                            label(for="name")
                                input(type="text" placeholder="Имя")
                            label(for="name")
                                input.input-tel(type="text" placeholder="Телефон")
                            button(type="submit").btn.popup-2(data-h4='Оставьте контакты' data-span='и мы свяжемся с Вами для оформления заявки') Забронировать скидку

        .h-slide
            .h-slide-dscr
                .h-img
                    img(src="img/header/h3.jpg", alt="")
                .h-dscr
                    p.dscr
                        | Дизайнерская отделка инфракрасной кабины 
                        | «под ключ» за 
                        span.num 3 
                        | дня
                    p.sub-dscr
                        | Бесплатный выезд и дизайн-проект, элитные экологичные материалы, финское оборудование
            .header-form
                .f-content
                    .f-center
                        .form-title
                            p
                                span Сделайте предзаказ <br>
                                | на зимний сезон <br>
                                | и получите
                                span.perc скидку 20% <br>
                                span на весь проект!
                        form(action="/").form
                            label(for="name")
                                input(type="text" placeholder="Имя")
                            label(for="name")
                                input.input-tel(type="text" placeholder="Телефон")
                            button(type="submit").btn.popup-2(data-h4='Оставьте контакты' data-span='и мы свяжемся с Вами для оформления заявки') Забронировать скидку

        .h-slide
            .h-slide-dscr
                .h-img
                    img(src="img/header/h4.jpg", alt="")
                .h-dscr
                    p.dscr
                        | Дизайнерская отделка сауны в квартире 
                        | «под ключ» за 
                        span.num 3 
                        | дней
                    p.sub-dscr
                        | Бесплатный выезд и дизайн-проект, элитные экологичные материалы, финское оборудование
            .header-form
                .f-content
                    .f-center
                        .form-title
                            p
                                span Сделайте предзаказ <br>
                                | на зимний сезон <br>
                                | и получите 
                                span.perc скидку 20% <br>
                                span на весь проект!
                        form(action="/").form
                            label(for="name")
                                input(type="text" placeholder="Имя")
                            label(for="name")
                                input.input-tel(type="text" placeholder="Телефон")
                            button(type="submit").btn.popup-2(data-h4='Оставьте контакты' data-span='и мы свяжемся с Вами для оформления заявки') Забронировать скидку
