//- .main
//- 	section.offer
//- 		.container
//- 			h2.title.wow.zoomIn(data-wow-duration='1s')
//- 				| Что мы предлагаем?
//- 			.container-sm
//- 				.offer-items
//- 					.offer-item
//- 						.o-dscr.wow.fadeInLeft(data-wow-duration='2s'  data-wow-delay='.5s')
//- 							h4.title.
//- 								Русская Баня
//- 							p.dscr.
//- 								Сочетание финских технологий и отечественных традиций. За счет
//- 								использования дровяних печей от Tulikivi, облицованных талькомагнезитом,
//- 								образуется мелкодисперсный пар, поддерживается оптимальная температура
//- 								60-90 °C и влажность 60-80%. Эффект "легкого пара" позволяет вам не только
//- 								отдохнуть, но и оздоровиться: целебные эфирные испарения ценных пород
//- 								дерева повышают иммунитет и улучшают самочувствие.
//- 						.o-img.wow.fadeInRight(data-wow-duration='2s' data-wow-delay='.3s')
//- 							img(src="img/offers/o1.jpg", alt="")
//- 					.offer-item
//- 						.o-img.wow.fadeInLeft(data-wow-duration='2s' data-wow-delay='.7s')
//- 							img(src="img/offers/o2.jpg", alt="")
//- 						.o-dscr.wow.fadeInRight(data-wow-duration='2s' data-wow-delay='.9s')
//- 							h4.title.
//- 								Финская сауна
//- 							p.dscr.
//- 								Разогретый воздух при минимальной влажности усиливает эффект от бани,
//- 								популярной даже среди спортсменов. В отделке применяется устойчивая
//- 								древесина - африканский абаш, канадский кедр, ольха. Многоярусные пологи
//- 								беспечивают комфорт, а декор можжевеловыми панно и гималайской солью
//- 								дарит эстетичное наслаждение. Для контроля микроклимата предусмотрена
//- 								герметизация и вентиляция.
//- 					.offer-item
//- 						.o-dscr.wow.fadeInLeft(data-wow-duration='2s'  data-wow-delay='1.3s')
//- 							h4.title.
//- 								Инфракрасная кабина
//- 							p.dscr.
//- 								Источник здоровья и великолепного самочувствия. Температура в помещении
//- 								составляет до 50 °C, что достигается за счет воздействия инфракрасных волн,
//- 								а не нагревания воздуха. В итоге потоотделение выше в 2-3 раза, при этом
//- 								тепло оказывает благотворное влияние на все системы организма.
//- 								Тело прогревается равномерно за счет наличия тиловых,
//- 								ножных и угловых излучателей.
//- 						.o-img.wow.fadeInRight(data-wow-duration='2s'  data-wow-delay='1.1s')
//- 							img(src="img/offers/o3.jpg", alt="")
//- 					.offer-item
//- 						.o-img.wow.fadeInLeft(data-wow-duration='2s'  data-wow-delay='1.5s')
//- 							img(src="img/offers/o4.jpg", alt="")
//- 						.o-dscr.wow.fadeInRight(data-wow-duration='2s'  data-wow-delay='1.7s')
//- 							h4.title.
//- 								Сауна в квартире
//- 							p.dscr.
//- 								Парная, душевая, джакузи или настоящая сауна в ващем доме - выберите то,
//- 								что позволит вам расслабиться после рабочего дня и отдохнуть в
//- 								праздничный день. Оригинальное оформление в стиле дизайна квартиры
//- 								достигается за счет декоративных экранов и абажуров для осветительных
//- 								приборов. Распространение влаги предотвращает пароизоляция,
//- 								фольгирования стен и покрытие потолка защитным маслом.
//- 	section.count-cost
//- 		.container
//- 			h2.title.wow.zoomIn(data-wow-duration='1s') 
//- 				| Рассчитайте стоимость вашей бани или сауны
//- 			.count-cost__subtitle-line
//- 				span.arr.wow.rotateInDownLeft(data-wow-duration='1s' data-wow-delay="1.4s")
//- 					img(src='img/count-cost/arrow.png')
//- 				.count-cost__subtitle.wow.zoomIn(data-wow-duration='1s' data-wow-delay=".8s") Заполните форму и получите персональное коммерческое предложение со сметой и сроками выполнения проекта
//- 		form.count-cost__form.wow.fadeIn(data-wow-duration='1s' data-wow-delay="2s") 
//- 			.container.wow.zoomIn(data-wow-duration='1s' data-wow-delay="2.3s") 
//- 				.house.block
//- 					label
//- 						p.text Вид помещения
//- 						.select-wrap.ui-front
//- 							select(name="").j_select
//- 								each item in ['Русская баня','Финские сауны', 'Инфракрасные кабины']
//- 									option(value=item)=item
//- 					label
//- 						p.text Общая площадь
//- 						.area__wrap
//- 							input(type="tel").i_text.iinput-sq
//- 							span.input-text м<sup>2</sup>
//- 					label.checkbox__label
//- 						input(type="checkbox", name="" )
//- 						.checkbox
//- 							span.status
//- 							span.text В квартире
//- 				.bake.block
//- 					label.bake__input-wrap
//- 						p.text Тип печи
//- 						.select-wrap.ui-front
//- 							select(name="").j_select
//- 								each item in ['Дровяная в облицовке из талькомагнезита','Дровяная "по-серому"','Дровяная "по-черному"','Электрическая']
//- 									option(value=item)=item
//- 					label.casing
//- 						p.text Обшивка стен и потолка
//- 						.select-wrap.ui-front
//- 							select(name="").j_select
//- 								each item in ['Кедр','Ольха', 'Липа', 'Абаш']
//- 									option(value=item)=item
//- 				.services.block
//- 					each item in ['Цветотерапия','Подсветка пологов и подспинника','Аксессуары','Можжевеловые панно','Звездное небо','Панно из гималайской соли']
//- 						label.checkbox__label
//- 							input(type="checkbox", name="" )
//- 							.checkbox
//- 								span.status
//- 								span.text=item
//- 				.submit-line.block
//- 					.tel-wrap
//- 						input.j_tel(type="text" placeholder='Ваш номер телефона').i_text
//- 					.count-submit__wrap
//- 						button.count-submit(type='submit') Получить расчет

//- 	section.projects
//- 		.container
//- 			h2.title.wow.zoomIn(data-wow-duration='1s')
//- 				| Примеры выполненных проектов
//- 			ul.filter-controls
//- 				li(data-filter=".a") Русские бани
//- 				li(data-filter=".b") Финские сауны
//- 				li(data-filter=".c") Инфракрасные кабины
//- 				li(data-filter=".d") Сауны в квартирах
//- 		.proj-items.wow.fadeIn(data-wow-duration="1s" data-wow-delay=".3s")
//- 			.proj-item.mix.a
//- 				.proj-part
//- 					.p-img
//- 						img(src="img/proj/p1/l_1.jpg", alt="")
//- 						img(src="img/proj/p1/l_2.jpg", alt="")
//- 						img(src="img/proj/p1/l_3.jpg", alt="")
//- 						img(src="img/proj/p1/l_4.jpg", alt="")
//- 						img(src="img/proj/p1/l_5.jpg", alt="")
//- 					.p-dscr
//- 						h4.title
//- 							| Отделка бани в КП «Аксаково»
//- 				.proj-part
//- 					.p-dscr
//- 						.list
//- 							span.list-title
//- 								| Что мы сделали?
//- 							ul.list-dscr
//- 								li.item-dscr Индивидуальный дизайн-проект
//- 								li.item-dscr Внутренняя отделка «Премиум»
//- 								li.item-dscr Полукрыглый подлокотник выполнен из абаши
//- 								li.item-dscr Потолок выполнен в двух уровнях, в центре можжевеловое панно в форме шестигранника
//- 								li.item-dscr Нижний ярус полока также выполнен с полукруглыми элементами
//- 						.list
//- 							span.list-title
//- 								| Материалы и оборудование
//- 							ul.list-dscr
//- 								li.item-dscr Печь Kastor
//- 								li.item-dscr Облицовка «Президент» из талькомагнезита
//- 								li.item-dscr Дымоход Schiedel
//- 								li.item-dscr Дверь Harvia
//- 								li.item-dscr Стены и потолок – вагонка из ольхи экстра-класса
//- 								li.item-dscr Мебель – абаш (афрканский дуб)
//- 								li.item-dscr Декор – термоабаш, талькомагнезит
//- 								li.item-dscr Освещение – светильники Lindner, стекловолокно Cariitti
//- 					.p-img-h
//- 						img(src="img/proj/p5/b_1.jpg")

//- 			.proj-item.mix.a
//- 				.proj-part
//- 					.p-img
//- 						img(src="img/proj/p2/l_1.jpg", alt="")
//- 						img(src="img/proj/p2/l_2.jpg", alt="")
//- 						img(src="img/proj/p2/l_3.jpg", alt="")
//- 						img(src="img/proj/p2/l_4.jpg", alt="")
//- 						img(src="img/proj/p2/l_5.jpg", alt="")
//- 					.p-dscr
//- 						h4.title
//- 							| Премиум-отделка русской бани в <br> г. Тула
//- 				.proj-part
//- 					.p-dscr
//- 						.list
//- 							span.list-title
//- 								| Что мы сделали?
//- 							ul.list-dscr
//- 								li.item-dscr Индивидуальный дизайн-проект
//- 								li.item-dscr Внутренняя отделка «Премиум»
//- 								li.item-dscr Комплексное обустройство нестандартного помещения с 7-ю углами
//- 								li.item-dscr Часть задней стены задекорирована панно из гималайской соли, изготовленном в цеху
//- 						.list
//- 							span.list-title
//- 								| Материалы и оборудование
//- 							ul.list-dscr
//- 								li.item-dscr Вагонка из канадского кедра и ольхи экстра-класса
//- 								li.item-dscr Мебель – абаш (афрканский дуб)
//- 								li.item-dscr Декор – канадский кедр, талькомагнезит, абаши
//- 								li.item-dscr Облицовка дымохода и подиума плиткой «Tulikivi» из талькомагнезита
//- 								li.item-dscr Светильники Lindner, стекловолокно Cariitti
//- 								li.item-dscr Светодиодная подсветка панно из гималайской соли
//- 					.p-img-h
//- 						img(src="img/proj/p5/b_1.jpg")
//- 			.proj-item.mix.a
//- 				.proj-part
//- 					.p-img
//- 						img(src="img/proj/p3/l_1.jpg", alt="")
//- 						img(src="img/proj/p3/l_2.jpg", alt="")
//- 						img(src="img/proj/p3/l_3.jpg", alt="")
//- 						img(src="img/proj/p3/l_4.jpg", alt="")
//- 					.p-dscr
//- 						h4.title
//- 							| отделка русской п. Завидово, <br>
//- 							| Тверская обл.
//- 				.proj-part
//- 					.p-dscr
//- 						.list
//- 							span.list-title
//- 								| Что мы сделали?
//- 							ul.list-dscr
//- 								li.item-dscr Отделка парной
//- 								li.item-dscr Установка печей и освещения
//- 								li.item-dscr Сантехнические работы
//- 								li.item-dscr Оформление комнаты отдыха
//- 						.list
//- 							span.list-title
//- 								| Материалы и оборудование
//- 							ul.list-dscr
//- 								li.item-dscr Липа для вагонки, абаш и термо-абаш для полока
//- 								li.item-dscr Покрытие пола лиственницей
//- 								li.item-dscr Отделка стен сосной
//- 								li.item-dscr Светильники с резными березовыми абажурами Harvia
//- 								li.item-dscr Стеклянная дверь Aldo
//- 					.p-img.p-img-h
//- 						img(src="img/proj/p3/l_1.jpg", alt="")
//- 						img(src="img/proj/p3/l_2.jpg", alt="")
//- 						img(src="img/proj/p3/l_3.jpg", alt="")
//- 						img(src="img/proj/p3/l_4.jpg", alt="")
//- 			.proj-item.mix.b
//- 				.proj-part
//- 					.p-img
//- 						img(src="img/proj/p4/l_1.jpg", alt="")
//- 						img(src="img/proj/p4/l_2.jpg", alt="")
//- 						img(src="img/proj/p4/l_3.jpg", alt="")
//- 						img(src="img/proj/p4/l_4.jpg", alt="")
//- 					.p-dscr
//- 						h4.title
//- 							| ФИНСКАЯ САУНА ПРЕМИУМ-КЛАССА <br>
//- 							| В КОТТЕДЖНОМ ПОСЕЛКЕ «ЕСЕНИНО», МОСКОВСКАЯ ОБЛАСТЬ 

//- 				.proj-part
//- 					.p-dscr
//- 						.list
//- 							span.list-title
//- 								| Что мы сделали?
//- 							ul.list-dscr
//- 								li.item-dscr Дизайн-проект сауны
//- 								li.item-dscr Обшивка стен
//- 								li.item-dscr Установка дровяной печки-каменки и дымохода
//- 								li.item-dscr Декор стены и потолка можжевельником
//- 								li.item-dscr Установка точечных светильников, монтаж двери
//- 						.list
//- 							span.list-title
//- 								| Материалы и оборудование
//- 							ul.list-dscr
//- 								li.item-dscr Стены и абажуры светильников из ольхи
//- 								li.item-dscr Дровяная печка-каменка Kastor и дымоход Schiedel, обшитые талькомагнезитом
//- 								li.item-dscr Полупрозрачная стеклянная дверь Harvia из ольхи оттенка сатин
//- 					.p-img.p-img-h
//- 						img(src="img/proj/p4/b_1.jpg", alt="")
//- 						img(src="img/proj/p4/b_2.jpg", alt="")
//- 						img(src="img/proj/p4/b_3.jpg", alt="")
//- 						img(src="img/proj/p4/b_4.jpg", alt="")
//- 			.proj-item.mix.c.d
//- 				.proj-part
//- 					.p-img
//- 						img(src="img/proj/p5/l_1.jpg", alt="")
//- 						img(src="img/proj/p5/l_2.jpg", alt="")
//- 						img(src="img/proj/p5/l_3.jpg", alt="")
//- 						img(src="img/proj/p5/l_4.jpg", alt="")
//- 						img(src="img/proj/p5/l_5.jpg", alt="")
//- 						img(src="img/proj/p5/l_6.jpg", alt="")
//- 					.p-dscr
//- 						h4.title
//- 							| Инфракрасная сауна в квартире, <br> г. МОСКВА
//- 				.proj-part
//- 					.p-dscr
//- 						.list
//- 							span.list-title
//- 								| Что мы сделали?
//- 							ul.list-dscr
//- 								li.item-dscr Уникальный дизайн-проект по чертежам клиента
//- 								li.item-dscr Монтаж инфракрасной сауны под ключ
//- 								li.item-dscr Индивидуальная отделка всех 4-х углов кабины
//- 						.list
//- 							span.list-title
//- 								| Материалы и оборудование
//- 							ul.list-dscr
//- 								li.item-dscr Вагонка из липы категории А
//- 								li.item-dscr Плинтус из дуба
//- 								li.item-dscr Инфракрасные излучатели Harvia (Финляндия)
//- 					.p-img.p-img-h
//- 						img(src="img/proj/p5/b_1.jpg", alt="")
//- 						img(src="img/proj/p5/b_2.jpg", alt="")
//- 						img(src="img/proj/p5/b_3.jpg", alt="")
//- 						img(src="img/proj/p5/b_4.jpg", alt="")
//- 						img(src="img/proj/p5/b_5.jpg", alt="")
//- 	section.design
//- 		.container
//- 			.design-intro
//- 				h2.title.wow.zoomIn(data-wow-duration='1s')
//- 					| Как мы разрабатываем дизайн?
//- 				p.wow.fadeInLeft(data-wow-duration='1s' data-wow-delay=".3s").
//- 					Мы не просто обустраиваем бани и сауны. <br>
//- 					Наша цель - создание уникальных концепций помещений для релаксации, сочетающих эстетичность и функциональность. <br>
//- 					До выполнения отделки вы получите индивидуальный дизайн-проект, разработанный согласно вашему техническому заданию или чертежам. <br>
//- 					Также вы можете выбрать готовое решение из нашего портфолио.
//- 		.design-slider
//- 			img(src="img/des/d1.jpg", alt="")
//- 			img(src="img/des/d2.jpg", alt="")
//- 			img(src="img/des/d3.jpg", alt="")
//- 			img(src="img/des/d1.jpg", alt="")
//- 			img(src="img/des/d2.jpg", alt="")
//- 			img(src="img/des/d3.jpg", alt="")
//- 			img(src="img/des/d1.jpg", alt="")
//- 			img(src="img/des/d2.jpg", alt="")
//- 			img(src="img/des/d3.jpg", alt="")
//- 	section.count
//- 		.container
//- 			.count-wrapper
//- 				p.wow.fadeInLeft(data-wow-duration='1s').
//- 					Получите бесплатный дизайн-проект <br>
//- 					при заказе от 500 тыс. рублей!
//- 				a(href="#").btn.wow.fadeInRight(data-wow-duration='1s') Получить дизайн-проект
//- 	section.equipment
//- 		.equipment-items
//- 			.equipment-wrapper
//- 				.eq-content
//- 					h2.title.wow.zoomIn(data-wow-duration='1s').
//- 						Экстра-материалы <br>и элитное оборудование
//- 					p.wow.fadeInLeft(data-wow-duration='1s' data-wow-delay=".3s").
//- 						Независимо от бюджета проекта мы используем исключительно материалы
//- 						экстра-класса, устойчивые к воздействиям высокой температуры
//- 						и повышенной влажности. Отделка стен, пола и потолка выполняется
//- 						из ольхи, липы, канадского кедра и африканского абаша.
//- 						Экологичность обеспечивается полным отсутствием красок, олифы
//- 						и лаков, а также бесклеевой технологией отделки.
//- 			.equipment-item.wow.fadeInDown(data-wow-duration='1s' data-wow-delay=".5s")
//- 				.eq-img
//- 					img(src="img/eq/eq1.jpg", alt="")
//- 				.eq-dscr
//- 					span Заготовка декоративных элементов выполняется в собственном цеху
//- 			.equipment-item.wow.fadeInDown(data-wow-duration='1s' data-wow-delay=".6s")
//- 				.eq-img
//- 					img(src="img/eq/eq2.jpg", alt="")
//- 				.eq-dscr
//- 					span Панно из гималайской соли
//- 			.equipment-item.wow.fadeInDown(data-wow-duration='1s' data-wow-delay=".7s")
//- 				.eq-img
//- 					img(src="img/eq/eq3.jpg", alt="")
//- 				.eq-dscr
//- 					span Можевелловые панно
//- 			.equipment-item.wow.fadeInDown(data-wow-duration='1s' data-wow-delay=".8s")
//- 				.eq-img
//- 					img(src="img/eq/eq4.jpg", alt="")
//- 				.eq-dscr
//- 					span Отделка печи камнем
//- 			.equipment-item.wow.fadeInDown(data-wow-duration='1s' data-wow-delay=".9s")
//- 				.eq-img
//- 					img(src="img/eq/eq5.jpg", alt="")
//- 				.eq-dscr
//- 					span Печи из талькомагнезита
//- 	section.facts
//- 		.container
//- 			.facts-wrapper
//- 				h2.title.wow.zoomIn(data-wow-duration='1s').
//- 					| Несколько фактов о нас
//- 			.facts-items
//- 				.facts-item.wow.fadeInLeft(data-wow-duration='1s' data-wow-delay=".3s")
//- 					.f-dscr
//- 						p
//- 							span 7
//- 							|лет на рынке строительных <br>
//- 							| и дизайнерских услуг
//- 				.facts-item.wow.fadeInDown(data-wow-duration='1s' data-wow-delay=".5s")
//- 					.f-dscr
//- 						p
//- 							| Реализовано свыше
//- 							span 100 <br>
//- 							| проектов в Москве и МО
//- 				.facts-item.wow.fadeInRight(data-wow-duration='1s' data-wow-delay=".7s")
//- 					.f-dscr
//- 						p
//- 							| Реализовано свыше
//- 							span 5
//- 							| бригад специалистов, <br>
//- 							| опыт каждого - от
//- 							span 15
//- 							| лет
//- 				.facts-item.wow.fadeInLeft(data-wow-duration='1s' data-wow-delay=".9s")
//- 					.f-dscr
//- 						p
//- 							|В нашем дизайнерском отделе <br>
//- 							|разработано свыше
//- 							span 400
//- 							|проектов
//- 				.facts-item.wow.fadeInUp(data-wow-duration='1s' data-wow-delay="1.1s")
//- 					.f-dscr
//- 						p
//- 							| Предлагаем больше
//- 							span 40
//- 							| видов оборудования, <br>
//- 							| и около
//- 							span 25
//- 							| - материалов
//- 				.facts-item.wow.fadeInRight(data-wow-duration='1s' data-wow-delay="1.3s")
//- 					.f-dscr
//- 						p
//- 							| Предоставляем гарантию
//- 							span 2
//- 							| года <br>
//- 							| на работы и продукцию
//- 	section.work
//- 		.container
//- 			.work-wrapper
//- 				h2.title.wow.zoomIn(data-wow-duration='1s').
//- 					| Как мы работаем?
//- 		.work-items
//- 			.container
//- 				.work-item.wow.fadeInUp(data-wow-duration='1s' data-wow-delay=".3s")
//- 					.w-dscr
//- 						p.
//- 							Выезд для бесплатных <br>
//- 							замеров и консультация
//- 						span 1
//- 				.work-item.wow.fadeInDown(data-wow-duration='1s' data-wow-delay=".5s")
//- 					.w-dscr
//- 						p.
//- 							Подготовка дизайн-проекта, <br>
//- 							составление сметы
//- 						span 2
//- 				.work-item.wow.fadeInUp(data-wow-duration='1s' data-wow-delay=".7s")
//- 					.w-dscr
//- 						p.
//- 							Подписание договора <br>
//- 							и предоплата
//- 						span 3
//- 				.work-item.wow.fadeInDown(data-wow-duration='1s' data-wow-delay=".9s")
//- 					.w-dscr
//- 						p.
//- 							Постоплата после <br>
//- 							сдачи проекта
//- 						span 4
//- 			.signUp-wrap.wow.zoomIn(data-wow-duration='1s' data-wow-delay="1s")
//- 				p.
//- 					Запишитесь на экскурсию по одному из наших объектов!
//- 					Мы пришлем за вами автомобиль в удобное для вас время
//- 				a.btn(href="#") Записаться на экскурсию
//- 	section.comfort
//- 		.container
//- 			.comfort-wrapper
//- 				h2.title.wow.zoomIn(data-wow-duration='1s')
//- 					| С нами удобно и выгодно
//- 			.comfort-items
//- 				.comfort-item.wow.fadeInRight(data-wow-duration='1s' data-wow-delay=".3s")
//- 					.c-img-w
//- 						.c-img.sprite.sprite-c1
//- 					.c-dscr
//- 						p.
//- 							Работы под ключ - от проекта
//- 							до выбора аксессуаров
//- 				.comfort-item.wow.fadeInRight(data-wow-duration='1s' data-wow-delay=".4s")
//- 					.c-img-w
//- 						.c-img.sprite.sprite-c2
//- 					.c-dscr
//- 						p.
//- 							Сроки монтажа стандартной
//- 							сауны или бани - 1-3 дня
//- 				.comfort-item.wow.fadeInRight(data-wow-duration='1s' data-wow-delay=".5s")
//- 					.c-img-w
//- 						.c-img.sprite.sprite-c3
//- 					.c-dscr
//- 						p.
//- 							Бесплатные замеры и выезд
//- 							для обсуждения вашего проекта
//- 				.comfort-item.wow.fadeInRight(data-wow-duration='1s' data-wow-delay=".6s")
//- 					.c-img-w
//- 						.c-img.sprite.sprite-c4
//- 					.c-dscr
//- 						p.
//- 							Выполняем нестандартные
//- 							задачи по  чертежам
//- 				.comfort-item.wow.fadeInRight(data-wow-duration='1s' data-wow-delay=".7s")
//- 					.c-img-w
//- 						.c-img.sprite.sprite-c5
//- 					.c-dscr
//- 						p.
//- 							Все монтажники -
//- 							славяне и жители Москвы
//- 				.comfort-item.wow.fadeInRight(data-wow-duration='1s' data-wow-delay=".8s")
//- 					.c-img-w
//- 						.c-img.sprite.sprite-c6
//- 					.c-dscr
//- 						p.
//- 							Инженер проекта отвечает
//- 							за сроки и качество
//- 				.comfort-item.wow.fadeInRight(data-wow-duration='1s' data-wow-delay=".9s")
//- 					.c-img-w
//- 						.c-img.sprite.sprite-c7
//- 					.c-dscr
//- 						p.
//- 							Скидки на предоплату
//- 							заказов на зимний сезон
//- 				.comfort-item.wow.fadeInRight(data-wow-duration='1s' data-wow-delay="1s")
//- 					.c-img-w
//- 						.c-img.sprite.sprite-c8
//- 					.c-dscr
//- 						p.
//- 							Авторский декор, в том числе
//- 							резьба по дереву и мозаика
//- 			.consult-wrapper.wow.zoomIn(data-wow-duration='1s' data-wow-delay="1.1s")
//- 				p.
//- 					В спектр наших работ входит создание хаммамов, оформление балконов и лоджий, отделка загородных домов и террас. <br>
//- 					Получите консультацию дизайнера и узнайте больше о наших дополнительных услугах!
//- 				a(href="#").btn Получить консультацию дизайнера
//- 	section.blog
//- 		.container
//- 			.blog-wrapper
//- 				h2.title.wow.zoomIn(data-wow-duration='1s')
//- 					| блог
//- 			.blog-items
//- 				.blog-item.wow.fadeInRight(data-wow-duration='1s' data-wow-delay=".3s")
//- 					.b-img
//- 						img(src="img/blog/b1.jpg", alt="")
//- 					.b-dscr
//- 						span Массаж усиливает оздоровительный эффект сауны
//- 						p.
//- 							Мощный оздоровительный эффект бани и сауны —
//- 							об этом знают все. Но его можно еще больше усилить
//- 							при помощи масажа. Для этого в классической
//- 							бане приме...
//- 						a.btn(href="#") Читать далее
//- 				.blog-item.wow.fadeInRight(data-wow-duration='1s' data-wow-delay=".5s")
//- 					.b-img
//- 						img(src="img/blog/b2.jpg", alt="")
//- 					.b-dscr
//- 						span ТОП-5 ошибок при походе в баню
//- 						p.
//- 							Мощный оздоровительный эффект бани и сауны —
//- 							об этом знают все. Но его можно еще больше усилить
//- 							при помощи масажа. Для этого в классической
//- 							бане приме...
//- 						a.btn(href="#") Читать далее
//- 				.blog-item.wow.fadeInRight(data-wow-duration='1s' data-wow-delay=".7s")
//- 					.b-img
//- 						img(src="img/blog/p3.jpg", alt="")
//- 					.b-dscr
//- 						span Вагонка для парной: критерии выбора
//- 						p.
//- 							Мощный оздоровительный эффект бани и сауны —
//- 							об этом знают все. Но его можно еще больше усилить
//- 							при помощи масажа. Для этого в классической
//- 							бане приме...
//- 						a.btn(href="#") Читать далее