.container{
  @include container();
}
.header{
  height: 900px;
}
p {
  @include fz(40px)
}
.footer{
  height: 100px;
  background: red;
  opacity: .5;
  color: #fff;
}
main{
  height: 200px;
  opacity: .5;
  color: #fff;
  background: #000;
}