.btn {
    @include transition(.25s);
    color: #fff;
    text-transform: uppercase;
    background-color: $ac;
    width: 200px;
    height: 30px;
    line-height: 30px;
    font-size: 11px;
    &:hover {
        background-color: #a38cd5;
    }
}
.header__top-line {
    padding-top: 40px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 40px;
}   
.nav__item {
    display: inline-block;
    margin-right: 40px;
    &:last-child {
        margin-right: 0;
    }
}
.nav__link {
    @include transition(.25s);
    font-size: 14px;
    color: #434242;
    font-family: "Noto Sans", sans-serif;
    &:hover {
        color: #9271d9;
    }
}
.logo {
    width: 18%;
    margin-right: 40px;
    a {
        display: block;
    }
    img {
        @include transition(.25s);
        &:hover {
            transform: scale(1.04);
        }
    }
}
.header__nav {
    width: 60%;
    margin-bottom: 15px;
}    
.tel {
    display: block;
    margin-bottom: 12px;
    // font-size: 18px;
    // font-family: 'Leckerli One', cursive;
    font-size: 25px;
    font-family: "IM Fell Double Pica", serif;
    // font-family: 'dj';
}
.tel-block {
    margin-bottom: 15px;
    width: 200px;
    text-align: right;
    a {
        text-align: center;
        display: inline-block;
    }
}
